/*  The Akebi_classic theme option file for the FiveAlive theme of Tiki Wiki CMS Groupware. */
.header_outer, .layout_basic #top_modules, .postbody-title, .tiki > .navbar.fixed-top.bg-dark, .bg-dark {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a8794+0,169fb6+53,18a4bc+72,19a5bd+100 */
  background: #0a8794 !important;
  /* Old browsers */
  background: -moz-linear-gradient(left, #0a8794 0%, #169fb6 53%, #18a4bc 72%, #19a5bd 100%) !important;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #0a8794 0%, #169fb6 53%, #18a4bc 72%, #19a5bd 100%) !important;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #0a8794 0%, #169fb6 53%, #18a4bc 72%, #19a5bd 100%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a8794", endColorstr="#19a5bd",GradientType=1);
  /* IE6-9 */
}
body.layout_social.tiki.navbar-padding {
  padding-top: 2.72rem;
  padding-bottom: 0;
}
.bg-dark {
  background: #063035 !important;
}
.middle_outer {
  -webkit-box-shadow: inset 0 54px 0 0 #063035;
  -moz-box-shadow: inset 0 54px 0 0 #063035;
  box-shadow: inset 0 54px 0 0 #063035;
}
.layout_basic #topbar_modules.bg-dark, .topbar, .navbar-dark, .topbar .navbar-dark .navbar-nav > li, .topbar .nav > li {
  background: #063035;
}
.bg-dark {
  background-color: #063035 !important;
}
a, .btn-link {
  color: #0b8a98;
}
a:hover, .btn-link:hover, a:focus, .btn-link:focus {
  color: #18a3bb;
}
.nav-tabs .nav-link {
  color: #555555;
  background-color: #ddf8f9;
  border-color: #83c5ce #83c5ce #ffffff;
}
hr {
  border-top: 1px solid #18a3bb;
}
.table th, .table td {
  border-top: 1px solid #1296a9;
}
.table > thead > tr > th {
  border-bottom: 2px solid #1296a9;
}
.table > tbody + tbody {
  border-top: 2px solid #1296a9;
}
.table .table {
  background-color: #ffffff;
}
.table .table-bordered {
  border: 1px solid #1296a9;
}
.table .table-bordered th, .table .table-bordered td {
  border: 1px solid #1296a9;
}
.table .table-striped > tbody > tr:nth-child(odd) > td, .table .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table .table-hover > tbody > tr:hover > td, .table .table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
.form-control {
  color: #555555;
  background-color: #ddf8f9;
  background-image: none;
  border: 1px solid #b4f3fb;
}
.navbar-dark a, .navbar-dark .navbar-brand, .dropdown-item, .dropdown-item a, .dropdown-menu .tikihelp {
  color: rgba(255, 255, 255, 0.75);
}
.navbar-dark a:hover, .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.85);
  background-color: transparent;
}
.navbar-dark a:hover, .navbar-dark a:focus {
  color: rgba(255, 255, 255, 0.85);
}
.navbar-dark .active a, .navbar-dark .active a:hover, .navbar-dark .active a:focus {
  color: #fff;
}
.navbar-dark .disabled a, .navbar-dark .disabled a:hover, .navbar-dark .disabled a:focus {
  color: rgba(255, 255, 255, 0.25);
  background-color: transparent;
}
.navbar-dark .navbar-toggle {
  border-color: #dddddd;
}
.navbar-dark .navbar-toggle:hover, .navbar-dark .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-dark .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-dark .navbar-collapse, .navbar-dark .navbar-form {
  border-color: transparent;
}
.navbar-dark .open > a, .navbar-dark .open > a:hover, .navbar-dark .open > a:focus {
  color: rgba(255, 255, 255, 0.75);
}
.navbar-dark .navbar-link:hover {
  color: #f9f9f9;
}
.navbar .navbar {
  background: transparent !important;
}
.cssmenu_horiz ul li button.btn-link.link-list, .cssmenu_vert ul li button.btn-link.link-list {
  background: #087f93;
  color: #ffffff;
}
.cssmenu_horiz ul li button.btn-link.link-list:hover, .cssmenu_vert ul li button.btn-link.link-list:hover {
  color: #f2f2f2;
  background: #087084;
}
.dropdown-item.btn-link {
  color: #fff;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #0b8a98;
}
.pagination > li > a, .pagination > li > span {
  color: #0b8a98;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #18a3bb;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #ffffff;
  background-color: #0b8a98;
  border-color: #0b8a98;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
}
.col2 .card-header, .col3 .card-header {
  border-bottom: 1px solid #169FB6;
}
header.page-header {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
}
header.page-header a, header.page-header a.btn-link {
  color: #ffffff !important;
}
.form-control, select, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="search"], input[type="number"], input#login-pass, textarea, .adminoptionbox option {
  color: #555555;
  background-color: #ddf8f9;
}
input[type="checkbox"].preffilter-toggle-round:checked + label::before {
  background: #baf1f3;
}
#footer {
  background: black;
  color: #f4f4f4;
  padding: 1px 0 2px 0;
  width: 100%;
}
.footer {
  border-top: 1px solid #19a5be;
  border-bottom: 1px solid #19a5be;
}
.footer_liner .card {
  background-color: transparent;
  border: none;
}
.footer_liner .card-header {
  color: #ffffff;
  border-bottom: 1px dotted #19a5be;
}
.footer_liner legend, .footer_liner a:not(.btn), .footer_liner a:not(.btn):visited {
  color: #a9a9a9;
}
.nav-tabs .nav-link {
  color: #000;
  background-color: #ddf8f9;
  border-color: #dee2e6 #dee2e6 #ffffff;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: #087084;
}
.topbar .cssmenu_horiz ul {
  background: #087f93;
}
.blog-postbody-title h2.panel-title {
  font-size: 20px;
}
.postbody-title .card-title {
  color: #fff;
}
.siteloginbar_popup .dropdown-menu > li > a {
  color: #ffffff;
}
header.header .sitetitle, header.header .sitesubtitle {
  text-shadow: none;
}
.searchresults blockquote em, .highlight {
  background: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}
.cssmenu_horiz li ul, .cssmenu_vert li ul {
  background-color: #087f93;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.cssmenu_horiz li ul > li > a, .cssmenu_vert li ul > li > a {
  padding: 3px 20px;
  font-weight: normal;
  color: #ffffff;
  background: #087f93;
}
.cssmenu_horiz > li > a:hover, .cssmenu_vert > li > a:hover, .cssmenu_horiz ul > li > a:hover, .cssmenu_vert ul > li > a:hover, .cssmenu_horiz > li > a:focus, .cssmenu_vert > li > a:focus, .cssmenu_horiz ul > li > a:focus, .cssmenu_vert ul > li > a:focus {
  text-decoration: none;
  color: #f2f2f2;
  background-color: #087084;
}
.topbar .navbar-nav > li > a, .topbar .navbar > li > a, .topbar .cssmenu_horiz > li > a {
  color: #ffffff;
}
.autotoc > .nav {
  background: #ffffff;
}
.autotoc * {
  color: #0b8a98;
}
.autotoc .nav > li > a:hover, .autotoc .nav .nav > li > a:hover, .autotoc .nav > li > a:focus {
  color: #f2f2f2;
  background: #2e1f39;
}
.autotoc .nav > li .active, .autotoc .nav > li.open > a {
  color: #f2f2f2;
  background: #2e1f39;
}
.autotoc .nav .dropdown-item {
  color: #0b8a98;
}
#col2 .card-title, #col3 .card-title, a.flipmoduletitle, #col2 .card-secondary > .card-header a, #col3 .card-secondary > .card-header a {
  color: #169FB6;
}
footer#footer .footer_liner {
  border-top: 1px solid #19a5be;
  border-bottom: 1px solid #19a5be;
}
footer#footer .footer_liner .card-header {
  border-bottom: 1px dotted #19a5be;
}
.header_outer {
  -webkit-box-shadow: inset 0 30px 0 0 #054d65;
  -moz-box-shadow: inset 0 30px 0 0 #054d65;
  box-shadow: inset 0 30px 0 0 #054d65;
}
.header_container {
  background: url("../images/siteheader.png") calc(50% - 400px) 0 no-repeat;
}
.bg-primary {
  background-color: #1174a5 !important;
}
a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
  background-color: #0c5377 !important;
}
.bg-secondary {
  background-color: #6400a5 !important;
}
a.bg-secondary:hover, a.bg-secondary:focus, button.bg-secondary:hover, button.bg-secondary:focus {
  background-color: #450072 !important;
}
.bg-success {
  background-color: #3fa533 !important;
}
a.bg-success:hover, a.bg-success:focus, button.bg-success:hover, button.bg-success:focus {
  background-color: #307e27 !important;
}
.bg-info {
  background-color: #4d3a7d !important;
}
a.bg-info:hover, a.bg-info:focus, button.bg-info:hover, button.bg-info:focus {
  background-color: #382a5a !important;
}
.bg-warning {
  background-color: #c3a124 !important;
}
a.bg-warning:hover, a.bg-warning:focus, button.bg-warning:hover, button.bg-warning:focus {
  background-color: #987d1c !important;
}
.bg-danger {
  background-color: #c3631f !important;
}
a.bg-danger:hover, a.bg-danger:focus, button.bg-danger:hover, button.bg-danger:focus {
  background-color: #974d18 !important;
}
.bg-gradient-primary {
  background: #1174a5 linear-gradient(180deg, #3589b3, #1174a5) repeat-x !important;
}
.bg-gradient-secondary {
  background: #6400a5 linear-gradient(180deg, #7b26b3, #6400a5) repeat-x !important;
}
.bg-gradient-success {
  background: #3fa533 linear-gradient(180deg, #5cb352, #3fa533) repeat-x !important;
}
.bg-gradient-info {
  background: #4d3a7d linear-gradient(180deg, #685891, #4d3a7d) repeat-x !important;
}
.bg-gradient-warning {
  background: #c3a124 linear-gradient(180deg, #ccaf45, #c3a124) repeat-x !important;
}
.bg-gradient-danger {
  background: #c3631f linear-gradient(180deg, #cc7a41, #c3631f) repeat-x !important;
}
.bg-white {
  background-color: #fff !important;
}
.bg-transparent {
  background-color: transparent !important;
}
.dropup, .dropright, .dropdown, .dropleft {
  position: relative;
}
.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #087f93;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}
.dropdown-menu-left {
  right: auto;
  left: 0;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
@media (min-width: 576px) {
  .dropdown-menu-sm-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-sm-right {
    right: 0;
    left: auto;
  }
}
@media (min-width: 768px) {
  .dropdown-menu-md-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-md-right {
    right: 0;
    left: auto;
  }
}
@media (min-width: 992px) {
  .dropdown-menu-lg-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-lg-right {
    right: 0;
    left: auto;
  }
}
@media (min-width: 1200px) {
  .dropdown-menu-xl-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-xl-right {
    right: 0;
    left: auto;
  }
}
.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.125rem;
}
.dropup .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
}
.dropup .dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropright .dropdown-menu {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0.125rem;
}
.dropright .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}
.dropright .dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropright .dropdown-toggle::after {
  vertical-align: 0;
}
.dropleft .dropdown-menu {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: 0.125rem;
}
.dropleft .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
}
.dropleft .dropdown-toggle::after {
  display: none;
}
.dropleft .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent;
}
.dropleft .dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropleft .dropdown-toggle::before {
  vertical-align: 0;
}
.dropdown-menu[x-placement^="top"], .dropdown-menu[x-placement^="right"], .dropdown-menu[x-placement^="bottom"], .dropdown-menu[x-placement^="left"] {
  right: auto;
  bottom: auto;
}
.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #087f93;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #ffffff;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #f2f2f2;
  text-decoration: none;
  background: #087084 linear-gradient(180deg, #2d8596, #087084) repeat-x;
}
.dropdown-item.active, .dropdown-item:active {
  color: red;
  text-decoration: none;
  background: #087084 linear-gradient(180deg, #2d8596, #087084) repeat-x;
}
.dropdown-item.disabled, .dropdown-item:disabled {
  color: #f2f2f2;
  pointer-events: none;
  background-color: transparent;
  background-image: none;
}
.dropdown-menu.show {
  display: block;
}
.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #ffffff;
  white-space: nowrap;
}
.dropdown-item-text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #ffffff;
}
.btn-primary {
  color: #fff;
  background: #1174a5 linear-gradient(180deg, #3589b3, #1174a5) repeat-x;
  border-color: #1174a5;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-primary:hover {
  color: #fff;
  background: #0d5c82 linear-gradient(180deg, #327495, #0d5c82) repeat-x;
  border-color: #0c5377;
}
.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background: #0d5c82 linear-gradient(180deg, #327495, #0d5c82) repeat-x;
  border-color: #0c5377;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(17, 116, 165, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #1174a5;
  border-color: #1174a5;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0c5377;
  background-image: none;
  border-color: #0b4b6b;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(17, 116, 165, 0.5);
}
.btn-secondary {
  color: #fff;
  background: #6400a5 linear-gradient(180deg, #7b26b3, #6400a5) repeat-x;
  border-color: #6400a5;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-secondary:hover {
  color: #fff;
  background: #4d007f linear-gradient(180deg, #682692, #4d007f) repeat-x;
  border-color: #450072;
}
.btn-secondary:focus, .btn-secondary.focus {
  color: #fff;
  background: #4d007f linear-gradient(180deg, #682692, #4d007f) repeat-x;
  border-color: #450072;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(100, 0, 165, 0.5);
}
.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #6400a5;
  border-color: #6400a5;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #450072;
  background-image: none;
  border-color: #3d0065;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(100, 0, 165, 0.5);
}
.btn-success {
  color: #fff;
  background: #3fa533 linear-gradient(180deg, #5cb352, #3fa533) repeat-x;
  border-color: #3fa533;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-success:hover {
  color: #fff;
  background: #34882a linear-gradient(180deg, #529a4a, #34882a) repeat-x;
  border-color: #307e27;
}
.btn-success:focus, .btn-success.focus {
  color: #fff;
  background: #34882a linear-gradient(180deg, #529a4a, #34882a) repeat-x;
  border-color: #307e27;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(63, 165, 51, 0.5);
}
.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #3fa533;
  border-color: #3fa533;
}
.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #307e27;
  background-image: none;
  border-color: #2c7424;
}
.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(63, 165, 51, 0.5);
}
.btn-info {
  color: #fff;
  background: #4d3a7d linear-gradient(180deg, #685891, #4d3a7d) repeat-x;
  border-color: #4d3a7d;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-info:hover {
  color: #fff;
  background: #3d2e63 linear-gradient(180deg, #5a4d7a, #3d2e63) repeat-x;
  border-color: #382a5a;
}
.btn-info:focus, .btn-info.focus {
  color: #fff;
  background: #3d2e63 linear-gradient(180deg, #5a4d7a, #3d2e63) repeat-x;
  border-color: #382a5a;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(77, 58, 125, 0.5);
}
.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: #4d3a7d;
  border-color: #4d3a7d;
}
.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #382a5a;
  background-image: none;
  border-color: #322651;
}
.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(77, 58, 125, 0.5);
}
.btn-warning {
  color: #212529;
  background: #c3a124 linear-gradient(180deg, #ccaf45, #c3a124) repeat-x;
  border-color: #c3a124;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-warning:hover {
  color: #fff;
  background: #a3861e linear-gradient(180deg, #b19840, #a3861e) repeat-x;
  border-color: #987d1c;
}
.btn-warning:focus, .btn-warning.focus {
  color: #fff;
  background: #a3861e linear-gradient(180deg, #b19840, #a3861e) repeat-x;
  border-color: #987d1c;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(195, 161, 36, 0.5);
}
.btn-warning.disabled, .btn-warning:disabled {
  color: #212529;
  background-color: #c3a124;
  border-color: #c3a124;
}
.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #987d1c;
  background-image: none;
  border-color: #8d751a;
}
.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-warning.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(195, 161, 36, 0.5);
}
.btn-danger {
  color: #fff;
  background: #c3631f linear-gradient(180deg, #cc7a41, #c3631f) repeat-x;
  border-color: #c3631f;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-danger:hover {
  color: #fff;
  background: #a2521a linear-gradient(180deg, #b06c3c, #a2521a) repeat-x;
  border-color: #974d18;
}
.btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background: #a2521a linear-gradient(180deg, #b06c3c, #a2521a) repeat-x;
  border-color: #974d18;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(195, 99, 31, 0.5);
}
.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #c3631f;
  border-color: #c3631f;
}
.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #974d18;
  background-image: none;
  border-color: #8c4716;
}
.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-danger.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(195, 99, 31, 0.5);
}
.btn-outline-primary {
  color: #1174a5;
  background-color: transparent;
  background-image: none;
  border-color: #1174a5;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #1174a5;
  border-color: #1174a5;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(17, 116, 165, 0.5);
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #1174a5;
  background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #1174a5;
  border-color: #1174a5;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(17, 116, 165, 0.5);
}
.btn-outline-secondary {
  color: #6400a5;
  background-color: transparent;
  background-image: none;
  border-color: #6400a5;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6400a5;
  border-color: #6400a5;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(100, 0, 165, 0.5);
}
.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #6400a5;
  background-color: transparent;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #6400a5;
  border-color: #6400a5;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(100, 0, 165, 0.5);
}
.btn-outline-success {
  color: #3fa533;
  background-color: transparent;
  background-image: none;
  border-color: #3fa533;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #3fa533;
  border-color: #3fa533;
}
.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(63, 165, 51, 0.5);
}
.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #3fa533;
  background-color: transparent;
}
.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #3fa533;
  border-color: #3fa533;
}
.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(63, 165, 51, 0.5);
}
.btn-outline-info {
  color: #4d3a7d;
  background-color: transparent;
  background-image: none;
  border-color: #4d3a7d;
}
.btn-outline-info:hover {
  color: #fff;
  background-color: #4d3a7d;
  border-color: #4d3a7d;
}
.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(77, 58, 125, 0.5);
}
.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #4d3a7d;
  background-color: transparent;
}
.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #4d3a7d;
  border-color: #4d3a7d;
}
.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(77, 58, 125, 0.5);
}
.btn-outline-warning {
  color: #c3a124;
  background-color: transparent;
  background-image: none;
  border-color: #c3a124;
}
.btn-outline-warning:hover {
  color: #212529;
  background-color: #c3a124;
  border-color: #c3a124;
}
.btn-outline-warning:focus, .btn-outline-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(195, 161, 36, 0.5);
}
.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #c3a124;
  background-color: transparent;
}
.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active, .show > .btn-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #c3a124;
  border-color: #c3a124;
}
.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-warning.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(195, 161, 36, 0.5);
}
.btn-outline-danger {
  color: #c3631f;
  background-color: transparent;
  background-image: none;
  border-color: #c3631f;
}
.btn-outline-danger:hover {
  color: #fff;
  background-color: #c3631f;
  border-color: #c3631f;
}
.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(195, 99, 31, 0.5);
}
.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #c3631f;
  background-color: transparent;
}
.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active, .show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #c3631f;
  border-color: #c3631f;
}
.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(195, 99, 31, 0.5);
}
.btn-link {
  color: #0b8a98;
  background-color: transparent;
}
.btn-link:hover {
  color: #18a3bb;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}
.btn-link:focus, .btn-link.focus {
  text-decoration: none;
  border-color: transparent;
  box-shadow: none;
}
.btn-link:disabled, .btn-link.disabled {
  color: #777777;
  pointer-events: none;
}
.btn-primary {
  color: #fff;
  background: #18a3bb linear-gradient(180deg, #3bb1c5, #18a3bb) repeat-x;
  border-color: #148599;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-primary:hover {
  color: #fff;
  background: #127c8e linear-gradient(180deg, #368f9f, #127c8e) repeat-x;
  border-color: #1bb7d2;
}
.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background: #127c8e linear-gradient(180deg, #368f9f, #127c8e) repeat-x;
  border-color: #1bb7d2;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(20, 133, 153, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #18a3bb;
  border-color: #148599;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #212529;
  background-color: #23c7e3;
  background-image: none;
  border-color: #072d33;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(20, 133, 153, 0.5);
}
.btn-outline-primary {
  color: #18a3bb;
  background-color: transparent;
  background-image: none;
  border-color: #18a3bb;
}
.btn-outline-primary:hover {
  color: #222222;
  background-color: #1bb7d2;
  border-color: #18a3bb;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(24, 163, 187, 0.5);
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #18a3bb;
  background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #1bb7d2;
  border-color: #18a3bb;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(24, 163, 187, 0.5);
}
.btn-secondary {
  color: #fff;
  background: #005064 linear-gradient(180deg, #266a7b, #005064) repeat-x;
  border-color: #00313e;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-secondary:hover {
  color: #fff;
  background: #002731 linear-gradient(180deg, #264850, #002731) repeat-x;
  border-color: #00647e;
}
.btn-secondary:focus, .btn-secondary.focus {
  color: #fff;
  background: #002731 linear-gradient(180deg, #264850, #002731) repeat-x;
  border-color: #00647e;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(0, 49, 62, 0.5);
}
.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #005064;
  border-color: #00313e;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #007997;
  background-image: none;
  border-color: black;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(0, 49, 62, 0.5);
}
.btn-outline-secondary {
  color: #005064;
  background-color: transparent;
  background-image: none;
  border-color: #005064;
}
.btn-outline-secondary:hover {
  color: #222222;
  background-color: #00647e;
  border-color: #005064;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 80, 100, 0.5);
}
.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #005064;
  background-color: transparent;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #00647e;
  border-color: #005064;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(0, 80, 100, 0.5);
}
.btn-success {
  color: #fff;
  background: #5cb85c linear-gradient(180deg, #74c374, #5cb85c) repeat-x;
  border-color: #48a648;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-success:hover {
  color: #fff;
  background: #449d44 linear-gradient(180deg, #60ab60, #449d44) repeat-x;
  border-color: #6ec06e;
}
.btn-success:focus, .btn-success.focus {
  color: #fff;
  background: #449d44 linear-gradient(180deg, #60ab60, #449d44) repeat-x;
  border-color: #6ec06e;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(72, 166, 72, 0.5);
}
.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #5cb85c;
  border-color: #48a648;
}
.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  color: #212529;
  background-color: #80c780;
  background-image: none;
  border-color: #255625;
}
.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(72, 166, 72, 0.5);
}
.btn-outline-success {
  color: #5cb85c;
  background-color: transparent;
  background-image: none;
  border-color: #5cb85c;
}
.btn-outline-success:hover {
  color: #222222;
  background-color: #6ec06e;
  border-color: #5cb85c;
}
.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(92, 184, 92, 0.5);
}
.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #5cb85c;
  background-color: transparent;
}
.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
  color: #212529;
  background-color: #6ec06e;
  border-color: #5cb85c;
}
.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(92, 184, 92, 0.5);
}
.btn-info {
  color: #fff;
  background: #007378 linear-gradient(180deg, #26888c, #007378) repeat-x;
  border-color: #004e52;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-info:hover {
  color: #fff;
  background: #004245 linear-gradient(180deg, #265e61, #004245) repeat-x;
  border-color: #008b92;
}
.btn-info:focus, .btn-info.focus {
  color: #fff;
  background: #004245 linear-gradient(180deg, #265e61, #004245) repeat-x;
  border-color: #008b92;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(0, 78, 82, 0.5);
}
.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: #007378;
  border-color: #004e52;
}
.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #00a4ab;
  background-image: none;
  border-color: black;
}
.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(0, 78, 82, 0.5);
}
.btn-outline-info {
  color: #007378;
  background-color: transparent;
  background-image: none;
  border-color: #007378;
}
.btn-outline-info:hover {
  color: #222222;
  background-color: #008b92;
  border-color: #007378;
}
.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 115, 120, 0.5);
}
.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #007378;
  background-color: transparent;
}
.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #008b92;
  border-color: #007378;
}
.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(0, 115, 120, 0.5);
}
.btn-warning {
  color: #212529;
  background: #f0ad4e linear-gradient(180deg, #f2b969, #f0ad4e) repeat-x;
  border-color: #ed9d2b;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-warning:hover {
  color: #212529;
  background: #ec971f linear-gradient(180deg, #efa741, #ec971f) repeat-x;
  border-color: #f2b866;
}
.btn-warning:focus, .btn-warning.focus {
  color: #212529;
  background: #ec971f linear-gradient(180deg, #efa741, #ec971f) repeat-x;
  border-color: #f2b866;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(237, 157, 43, 0.5);
}
.btn-warning.disabled, .btn-warning:disabled {
  color: #212529;
  background-color: #f0ad4e;
  border-color: #ed9d2b;
}
.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
  color: #212529;
  background-color: #f4c37d;
  background-image: none;
  border-color: #985f0d;
}
.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-warning.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(237, 157, 43, 0.5);
}
.btn-outline-warning {
  color: #f0ad4e;
  background-color: transparent;
  background-image: none;
  border-color: #f0ad4e;
}
.btn-outline-warning:hover {
  color: #222222;
  background-color: #f2b866;
  border-color: #f0ad4e;
}
.btn-outline-warning:focus, .btn-outline-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 173, 78, 0.5);
}
.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #f0ad4e;
  background-color: transparent;
}
.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active, .show > .btn-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #f2b866;
  border-color: #f0ad4e;
}
.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-warning.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(240, 173, 78, 0.5);
}
.btn-danger {
  color: #fff;
  background: #ff5c1a linear-gradient(180deg, #ff743c, #ff5c1a) repeat-x;
  border-color: #f34600;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-danger:hover {
  color: #fff;
  background: #e64200 linear-gradient(180deg, #ea5f26, #e64200) repeat-x;
  border-color: #ff6e34;
}
.btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background: #e64200 linear-gradient(180deg, #ea5f26, #e64200) repeat-x;
  border-color: #ff6e34;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(243, 70, 0, 0.5);
}
.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #ff5c1a;
  border-color: #f34600;
}
.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle {
  color: #212529;
  background-color: #ff804d;
  background-image: none;
  border-color: #802500;
}
.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-danger.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(243, 70, 0, 0.5);
}
.btn-outline-danger {
  color: #ff5c1a;
  background-color: transparent;
  background-image: none;
  border-color: #ff5c1a;
}
.btn-outline-danger:hover {
  color: #222222;
  background-color: #ff6e34;
  border-color: #ff5c1a;
}
.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 92, 26, 0.5);
}
.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #ff5c1a;
  background-color: transparent;
}
.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active, .show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #ff6e34;
  border-color: #ff5c1a;
}
.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(255, 92, 26, 0.5);
}
.btn-light {
  color: #212529;
  background: #ffffff linear-gradient(180deg, white, #ffffff) repeat-x;
  border-color: #ececec;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-light:hover {
  color: #212529;
  background: #e6e6e6 linear-gradient(180deg, #e9e9e9, #e6e6e6) repeat-x;
  border-color: white;
}
.btn-light:focus, .btn-light.focus {
  color: #212529;
  background: #e6e6e6 linear-gradient(180deg, #e9e9e9, #e6e6e6) repeat-x;
  border-color: white;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(236, 236, 236, 0.5);
}
.btn-light.disabled, .btn-light:disabled {
  color: #212529;
  background-color: #ffffff;
  border-color: #ececec;
}
.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
  color: #212529;
  background-color: white;
  background-image: none;
  border-color: #b3b3b3;
}
.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(236, 236, 236, 0.5);
}
.btn-outline-light {
  color: #ffffff;
  background-color: transparent;
  background-image: none;
  border-color: #ffffff;
}
.btn-outline-light:hover {
  color: #222222;
  background-color: white;
  border-color: #ffffff;
}
.btn-outline-light:focus, .btn-outline-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #ffffff;
  background-color: transparent;
}
.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active, .show > .btn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: white;
  border-color: #ffffff;
}
.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.btn-dark {
  color: #fff;
  background: #18a3bb linear-gradient(180deg, #3bb1c5, #18a3bb) repeat-x;
  border-color: #148599;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-dark:hover {
  color: #fff;
  background: #127c8e linear-gradient(180deg, #368f9f, #127c8e) repeat-x;
  border-color: #1bb7d2;
}
.btn-dark:focus, .btn-dark.focus {
  color: #fff;
  background: #127c8e linear-gradient(180deg, #368f9f, #127c8e) repeat-x;
  border-color: #1bb7d2;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(20, 133, 153, 0.5);
}
.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #18a3bb;
  border-color: #148599;
}
.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle {
  color: #212529;
  background-color: #23c7e3;
  background-image: none;
  border-color: #072d33;
}
.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-dark.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(20, 133, 153, 0.5);
}
.btn-outline-dark {
  color: #18a3bb;
  background-color: transparent;
  background-image: none;
  border-color: #18a3bb;
}
.btn-outline-dark:hover {
  color: #222222;
  background-color: #1bb7d2;
  border-color: #18a3bb;
}
.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(24, 163, 187, 0.5);
}
.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #18a3bb;
  background-color: transparent;
}
.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #1bb7d2;
  border-color: #18a3bb;
}
.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(24, 163, 187, 0.5);
}
