/*  The Kiwi theme option file for the FiveAlive theme of Tiki Wiki CMS Groupware. */
.header_outer, .layout_basic #top_modules, .postbody-title, .tiki > .navbar.fixed-top.bg-dark, .bg-dark {
  background: #797922 !important;
  background: -moz-linear-gradient(left, #797922 0%, #b1b129 100%) !important;
  background: -webkit-linear-gradient(left, #797922 0%, #b1b129 100%) !important;
  background: linear-gradient(to right, #797922 0%, #b1b129 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#797922", endColorstr="#b1b129",GradientType=1);
}
body.layout_social.tiki.navbar-padding {
  padding-top: 2.72rem;
  padding-bottom: 0;
}
.bg-dark {
  background: #005064 !important;
}
.middle_outer {
  -webkit-box-shadow: inset 0 54px 0 0 #313109;
  -moz-box-shadow: inset 0 54px 0 0 #313109;
  box-shadow: inset 0 54px 0 0 #313109;
}
.layout_basic #topbar_modules.bg-dark, .topbar, .navbar-dark, .topbar .navbar-dark .navbar-nav > li, .topbar .nav > li {
  background: #313109;
}
.bg-dark {
  background-color: #313109 !important;
}
a, .btn-link {
  color: #638637;
}
a:hover, .btn-link:hover, a:focus, .btn-link:focus {
  color: #baba25;
}
.nav-tabs .nav-link {
  color: #343a40;
  background-color: #f8f9d4;
  border-color: #f5fb86 #f5fb86 #ffffff;
}
hr {
  border-top: 1px solid #baba25;
}
.table th, .table td {
  border-top: 1px solid #dbd11a;
}
.table > thead > tr > th {
  border-bottom: 2px solid #dbd11a;
}
.table > tbody + tbody {
  border-top: 2px solid #dbd11a;
}
.table .table {
  background-color: #ffffff;
}
.table .table-bordered {
  border: 1px solid #dbd11a;
}
.table .table-bordered th, .table .table-bordered td {
  border: 1px solid #dbd11a;
}
.table .table-striped > tbody > tr:nth-child(odd) > td, .table .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table .table-hover > tbody > tr:hover > td, .table .table-hover > tbody > tr:hover > th {
  background-color: #dbd11a;
}
.form-control {
  color: #343a40;
  background-color: #f8f9d4;
  background-image: none;
  border: 1px solid #f8f9d4;
}
.navbar-dark a, .navbar-dark .navbar-brand, .dropdown-item, .dropdown-item a, .dropdown-menu .tikihelp {
  color: rgba(255, 255, 255, 0.75);
}
.navbar-dark a:hover, .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.85);
  background-color: transparent;
}
.navbar-dark a:hover, .navbar-dark a:focus {
  color: rgba(255, 255, 255, 0.85);
}
.navbar-dark .active a, .navbar-dark .active a:hover, .navbar-dark .active a:focus {
  color: #fff;
}
.navbar-dark .disabled a, .navbar-dark .disabled a:hover, .navbar-dark .disabled a:focus {
  color: rgba(255, 255, 255, 0.25);
  background-color: transparent;
}
.navbar-dark .navbar-toggle {
  border-color: #dddddd;
}
.navbar-dark .navbar-toggle:hover, .navbar-dark .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-dark .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-dark .navbar-collapse, .navbar-dark .navbar-form {
  border-color: transparent;
}
.navbar-dark .open > a, .navbar-dark .open > a:hover, .navbar-dark .open > a:focus {
  color: rgba(255, 255, 255, 0.75);
}
.navbar-dark .navbar-link:hover {
  color: #f9f9f9;
}
.navbar .navbar {
  background: transparent !important;
}
.cssmenu_horiz ul li button.btn-link.link-list, .cssmenu_vert ul li button.btn-link.link-list {
  background: #baba25;
  color: #ffffff;
}
.cssmenu_horiz ul li button.btn-link.link-list:hover, .cssmenu_vert ul li button.btn-link.link-list:hover {
  color: #f2f2f2;
  background: #638637;
}
.dropdown-item.btn-link {
  color: #fff;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #638637;
}
.pagination > li > a, .pagination > li > span {
  color: #638637;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #a59705;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #ffffff;
  background-color: #638637;
  border-color: #638637;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
}
.col2 .card-header, .col3 .card-header {
  border-bottom: 1px solid #cdbe23;
}
header.page-header {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
}
header.page-header a, header.page-header a.btn-link {
  color: #ffffff !important;
}
.form-control, select, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="search"], input[type="number"], input#login-pass, textarea, .adminoptionbox option {
  color: #343a40;
  background-color: #f8f9d4;
}
input[type="checkbox"].preffilter-toggle-round:checked + label::before {
  background: #f2f4b0;
}
#footer {
  background: black;
  color: #f4f4f4;
  padding: 1px 0 2px 0;
  width: 100%;
}
.footer {
  border-top: 1px solid #ebdc14;
  border-bottom: 1px solid #ebdc14;
}
.footer_liner .card {
  background-color: transparent;
  border: none;
}
.footer_liner .card-header {
  color: #ffffff;
  border-bottom: 1px dotted #ebdc14;
}
.footer_liner legend, .footer_liner a:not(.btn), .footer_liner a:not(.btn):visited {
  color: #a9a9a9;
}
.nav-tabs .nav-link {
  color: #000;
  background-color: #f8f9d4;
  border-color: #dee2e6 #dee2e6 #ffffff;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: #638637;
}
.topbar .cssmenu_horiz ul {
  background: #baba25;
}
.blog-postbody-title h2.panel-title {
  font-size: 20px;
}
.postbody-title .card-title {
  color: #fff;
}
.siteloginbar_popup .dropdown-menu > li > a {
  color: #ffffff;
}
header.header .sitetitle, header.header .sitesubtitle {
  text-shadow: none;
}
.searchresults blockquote em, .highlight {
  background: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}
.cssmenu_horiz li ul, .cssmenu_vert li ul {
  background-color: #baba25;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.cssmenu_horiz li ul > li > a, .cssmenu_vert li ul > li > a {
  padding: 3px 20px;
  font-weight: normal;
  color: #ffffff;
  background: #baba25;
}
.cssmenu_horiz > li > a:hover, .cssmenu_vert > li > a:hover, .cssmenu_horiz ul > li > a:hover, .cssmenu_vert ul > li > a:hover, .cssmenu_horiz > li > a:focus, .cssmenu_vert > li > a:focus, .cssmenu_horiz ul > li > a:focus, .cssmenu_vert ul > li > a:focus {
  text-decoration: none;
  color: #f2f2f2;
  background-color: #638637;
}
.topbar .navbar-nav > li > a, .topbar .navbar > li > a, .topbar .cssmenu_horiz > li > a {
  color: #ffffff;
}
.autotoc > .nav {
  background: #ffffff;
}
.autotoc * {
  color: #638637;
}
.autotoc .nav > li > a:hover, .autotoc .nav .nav > li > a:hover, .autotoc .nav > li > a:focus {
  color: #f2f2f2;
  background: #587631;
}
.autotoc .nav > li .active, .autotoc .nav > li.open > a {
  color: #f2f2f2;
  background: #587631;
}
.autotoc .nav .dropdown-item {
  color: #638637;
}
#col2 .card-title, #col3 .card-title, a.flipmoduletitle, #col2 .card-secondary > .card-header a, #col3 .card-secondary > .card-header a {
  color: #cdbe23;
}
footer#footer .footer_liner {
  border-top: 1px solid #ebdc14;
  border-bottom: 1px solid #ebdc14;
}
footer#footer .footer_liner .card-header {
  border-bottom: 1px dotted #ebdc14;
}
.bg-light {
  background-color: #ffffff !important;
}
a.bg-light:hover, a.bg-light:focus, button.bg-light:hover, button.bg-light:focus {
  background-color: #e6e6e6 !important;
}
.bg-dark {
  background-color: #313109 !important;
}
a.bg-dark:hover, a.bg-dark:focus, button.bg-dark:hover, button.bg-dark:focus {
  background-color: #060601 !important;
}
.bg-gradient-light {
  background: #ffffff linear-gradient(180deg, white, #ffffff) repeat-x !important;
}
.bg-gradient-dark {
  background: #313109 linear-gradient(180deg, #50502e, #313109) repeat-x !important;
}
.bg-white {
  background-color: #fff !important;
}
.bg-transparent {
  background-color: transparent !important;
}
.dropup, .dropright, .dropdown, .dropleft {
  position: relative;
}
.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #343a40;
  text-align: left;
  list-style: none;
  background-color: #baba25;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}
.dropdown-menu-left {
  right: auto;
  left: 0;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
@media (min-width: 576px) {
  .dropdown-menu-sm-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-sm-right {
    right: 0;
    left: auto;
  }
}
@media (min-width: 768px) {
  .dropdown-menu-md-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-md-right {
    right: 0;
    left: auto;
  }
}
@media (min-width: 992px) {
  .dropdown-menu-lg-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-lg-right {
    right: 0;
    left: auto;
  }
}
@media (min-width: 1200px) {
  .dropdown-menu-xl-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-xl-right {
    right: 0;
    left: auto;
  }
}
.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.125rem;
}
.dropup .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
}
.dropup .dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropright .dropdown-menu {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0.125rem;
}
.dropright .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}
.dropright .dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropright .dropdown-toggle::after {
  vertical-align: 0;
}
.dropleft .dropdown-menu {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: 0.125rem;
}
.dropleft .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
}
.dropleft .dropdown-toggle::after {
  display: none;
}
.dropleft .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent;
}
.dropleft .dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropleft .dropdown-toggle::before {
  vertical-align: 0;
}
.dropdown-menu[x-placement^="top"], .dropdown-menu[x-placement^="right"], .dropdown-menu[x-placement^="bottom"], .dropdown-menu[x-placement^="left"] {
  right: auto;
  bottom: auto;
}
.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #baba25;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #ffffff;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #f2f2f2;
  text-decoration: none;
  background: #638637 linear-gradient(180deg, #7a9855, #638637) repeat-x;
}
.dropdown-item.active, .dropdown-item:active {
  color: #ffffff;
  text-decoration: none;
  background: #638637 linear-gradient(180deg, #7a9855, #638637) repeat-x;
}
.dropdown-item.disabled, .dropdown-item:disabled {
  color: #f2f2f2;
  pointer-events: none;
  background-color: transparent;
  background-image: none;
}
.dropdown-menu.show {
  display: block;
}
.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #ffffff;
  white-space: nowrap;
}
.dropdown-item-text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #ffffff;
}
.btn-light {
  color: #212529;
  background: #ffffff linear-gradient(180deg, white, #ffffff) repeat-x;
  border-color: #ffffff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-light:hover {
  color: #212529;
  background: #ececec linear-gradient(180deg, #efefef, #ececec) repeat-x;
  border-color: #e6e6e6;
}
.btn-light:focus, .btn-light.focus {
  color: #212529;
  background: #ececec linear-gradient(180deg, #efefef, #ececec) repeat-x;
  border-color: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.btn-light.disabled, .btn-light:disabled {
  color: #212529;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
  color: #212529;
  background-color: #e6e6e6;
  background-image: none;
  border-color: #dfdfdf;
}
.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.btn-dark {
  color: #fff;
  background: #313109 linear-gradient(180deg, #50502e, #313109) repeat-x;
  border-color: #313109;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-dark:hover {
  color: #fff;
  background: #111103 linear-gradient(180deg, #343429, #111103) repeat-x;
  border-color: #060601;
}
.btn-dark:focus, .btn-dark.focus {
  color: #fff;
  background: #111103 linear-gradient(180deg, #343429, #111103) repeat-x;
  border-color: #060601;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(49, 49, 9, 0.5);
}
.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #313109;
  border-color: #313109;
}
.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #060601;
  background-image: none;
  border-color: black;
}
.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-dark.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(49, 49, 9, 0.5);
}
.btn-outline-light {
  color: #ffffff;
  background-color: transparent;
  background-image: none;
  border-color: #ffffff;
}
.btn-outline-light:hover {
  color: #212529;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-outline-light:focus, .btn-outline-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #ffffff;
  background-color: transparent;
}
.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active, .show > .btn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.btn-outline-dark {
  color: #313109;
  background-color: transparent;
  background-image: none;
  border-color: #313109;
}
.btn-outline-dark:hover {
  color: #fff;
  background-color: #313109;
  border-color: #313109;
}
.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(49, 49, 9, 0.5);
}
.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #313109;
  background-color: transparent;
}
.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #313109;
  border-color: #313109;
}
.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(49, 49, 9, 0.5);
}
.btn-link {
  color: #638637;
  background-color: transparent;
}
.btn-link:hover {
  color: #baba25;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}
.btn-link:focus, .btn-link.focus {
  text-decoration: none;
  border-color: transparent;
  box-shadow: none;
}
.btn-link:disabled, .btn-link.disabled {
  color: #777777;
  pointer-events: none;
}
.btn-primary {
  color: #212529;
  background: #ebdc14 linear-gradient(180deg, #eee137, #ebdc14) repeat-x;
  border-color: #c8bb11;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-primary:hover {
  color: #212529;
  background: #bcb010 linear-gradient(180deg, #c6bc34, #bcb010) repeat-x;
  border-color: #ede02c;
}
.btn-primary:focus, .btn-primary.focus {
  color: #212529;
  background: #bcb010 linear-gradient(180deg, #c6bc34, #bcb010) repeat-x;
  border-color: #ede02c;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(200, 187, 17, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #212529;
  background-color: #ebdc14;
  border-color: #c8bb11;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #212529;
  background-color: #efe343;
  background-image: none;
  border-color: #5e5808;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(200, 187, 17, 0.5);
}
.btn-outline-primary {
  color: #ebdc14;
  background-color: transparent;
  background-image: none;
  border-color: #ebdc14;
}
.btn-outline-primary:hover {
  color: #222222;
  background-color: #ede02c;
  border-color: #ebdc14;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(235, 220, 20, 0.5);
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #ebdc14;
  background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #212529;
  background-color: #ede02c;
  border-color: #ebdc14;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(235, 220, 20, 0.5);
}
.btn-secondary {
  color: #fff;
  background: #648737 linear-gradient(180deg, #7b9955, #648737) repeat-x;
  border-color: #506c2c;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-secondary:hover {
  color: #fff;
  background: #496328 linear-gradient(180deg, #647a48, #496328) repeat-x;
  border-color: #71993e;
}
.btn-secondary:focus, .btn-secondary.focus {
  color: #fff;
  background: #496328 linear-gradient(180deg, #647a48, #496328) repeat-x;
  border-color: #71993e;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(80, 108, 44, 0.5);
}
.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #648737;
  border-color: #506c2c;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #7fab46;
  background-image: none;
  border-color: #131a0b;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(80, 108, 44, 0.5);
}
.btn-outline-secondary {
  color: #648737;
  background-color: transparent;
  background-image: none;
  border-color: #648737;
}
.btn-outline-secondary:hover {
  color: #222222;
  background-color: #71993e;
  border-color: #648737;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(100, 135, 55, 0.5);
}
.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #648737;
  background-color: transparent;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #71993e;
  border-color: #648737;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(100, 135, 55, 0.5);
}
.btn-success {
  color: #fff;
  background: #5cb85c linear-gradient(180deg, #74c374, #5cb85c) repeat-x;
  border-color: #48a648;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-success:hover {
  color: #fff;
  background: #449d44 linear-gradient(180deg, #60ab60, #449d44) repeat-x;
  border-color: #6ec06e;
}
.btn-success:focus, .btn-success.focus {
  color: #fff;
  background: #449d44 linear-gradient(180deg, #60ab60, #449d44) repeat-x;
  border-color: #6ec06e;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(72, 166, 72, 0.5);
}
.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #5cb85c;
  border-color: #48a648;
}
.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  color: #212529;
  background-color: #80c780;
  background-image: none;
  border-color: #255625;
}
.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(72, 166, 72, 0.5);
}
.btn-outline-success {
  color: #5cb85c;
  background-color: transparent;
  background-image: none;
  border-color: #5cb85c;
}
.btn-outline-success:hover {
  color: #222222;
  background-color: #6ec06e;
  border-color: #5cb85c;
}
.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(92, 184, 92, 0.5);
}
.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #5cb85c;
  background-color: transparent;
}
.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
  color: #212529;
  background-color: #6ec06e;
  border-color: #5cb85c;
}
.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(92, 184, 92, 0.5);
}
.btn-info {
  color: #fff;
  background: #96a032 linear-gradient(180deg, #a6ae51, #96a032) repeat-x;
  border-color: #7b8329;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-info:hover {
  color: #fff;
  background: #727926 linear-gradient(180deg, #878d46, #727926) repeat-x;
  border-color: #a8b338;
}
.btn-info:focus, .btn-info.focus {
  color: #fff;
  background: #727926 linear-gradient(180deg, #878d46, #727926) repeat-x;
  border-color: #a8b338;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(123, 131, 41, 0.5);
}
.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: #96a032;
  border-color: #7b8329;
}
.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
  color: #212529;
  background-color: #b8c441;
  background-image: none;
  border-color: #292b0e;
}
.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(123, 131, 41, 0.5);
}
.btn-outline-info {
  color: #96a032;
  background-color: transparent;
  background-image: none;
  border-color: #96a032;
}
.btn-outline-info:hover {
  color: #222222;
  background-color: #a8b338;
  border-color: #96a032;
}
.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(150, 160, 50, 0.5);
}
.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #96a032;
  background-color: transparent;
}
.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show > .btn-outline-info.dropdown-toggle {
  color: #212529;
  background-color: #a8b338;
  border-color: #96a032;
}
.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(150, 160, 50, 0.5);
}
.btn-warning {
  color: #212529;
  background: #f0ad4e linear-gradient(180deg, #f2b969, #f0ad4e) repeat-x;
  border-color: #ed9d2b;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-warning:hover {
  color: #212529;
  background: #ec971f linear-gradient(180deg, #efa741, #ec971f) repeat-x;
  border-color: #f2b866;
}
.btn-warning:focus, .btn-warning.focus {
  color: #212529;
  background: #ec971f linear-gradient(180deg, #efa741, #ec971f) repeat-x;
  border-color: #f2b866;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(237, 157, 43, 0.5);
}
.btn-warning.disabled, .btn-warning:disabled {
  color: #212529;
  background-color: #f0ad4e;
  border-color: #ed9d2b;
}
.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
  color: #212529;
  background-color: #f4c37d;
  background-image: none;
  border-color: #985f0d;
}
.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-warning.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(237, 157, 43, 0.5);
}
.btn-outline-warning {
  color: #f0ad4e;
  background-color: transparent;
  background-image: none;
  border-color: #f0ad4e;
}
.btn-outline-warning:hover {
  color: #222222;
  background-color: #f2b866;
  border-color: #f0ad4e;
}
.btn-outline-warning:focus, .btn-outline-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 173, 78, 0.5);
}
.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #f0ad4e;
  background-color: transparent;
}
.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active, .show > .btn-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #f2b866;
  border-color: #f0ad4e;
}
.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-warning.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(240, 173, 78, 0.5);
}
.btn-danger {
  color: #fff;
  background: #ff5c1a linear-gradient(180deg, #ff743c, #ff5c1a) repeat-x;
  border-color: #f34600;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-danger:hover {
  color: #fff;
  background: #e64200 linear-gradient(180deg, #ea5f26, #e64200) repeat-x;
  border-color: #ff6e34;
}
.btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background: #e64200 linear-gradient(180deg, #ea5f26, #e64200) repeat-x;
  border-color: #ff6e34;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(243, 70, 0, 0.5);
}
.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #ff5c1a;
  border-color: #f34600;
}
.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle {
  color: #212529;
  background-color: #ff804d;
  background-image: none;
  border-color: #802500;
}
.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-danger.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(243, 70, 0, 0.5);
}
.btn-outline-danger {
  color: #ff5c1a;
  background-color: transparent;
  background-image: none;
  border-color: #ff5c1a;
}
.btn-outline-danger:hover {
  color: #222222;
  background-color: #ff6e34;
  border-color: #ff5c1a;
}
.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 92, 26, 0.5);
}
.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #ff5c1a;
  background-color: transparent;
}
.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active, .show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #ff6e34;
  border-color: #ff5c1a;
}
.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(255, 92, 26, 0.5);
}
.btn-light {
  color: #212529;
  background: #ffffff linear-gradient(180deg, white, #ffffff) repeat-x;
  border-color: #ececec;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-light:hover {
  color: #212529;
  background: #e6e6e6 linear-gradient(180deg, #e9e9e9, #e6e6e6) repeat-x;
  border-color: white;
}
.btn-light:focus, .btn-light.focus {
  color: #212529;
  background: #e6e6e6 linear-gradient(180deg, #e9e9e9, #e6e6e6) repeat-x;
  border-color: white;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(236, 236, 236, 0.5);
}
.btn-light.disabled, .btn-light:disabled {
  color: #212529;
  background-color: #ffffff;
  border-color: #ececec;
}
.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
  color: #212529;
  background-color: white;
  background-image: none;
  border-color: #b3b3b3;
}
.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(236, 236, 236, 0.5);
}
.btn-outline-light {
  color: #ffffff;
  background-color: transparent;
  background-image: none;
  border-color: #ffffff;
}
.btn-outline-light:hover {
  color: #222222;
  background-color: white;
  border-color: #ffffff;
}
.btn-outline-light:focus, .btn-outline-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #ffffff;
  background-color: transparent;
}
.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active, .show > .btn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: white;
  border-color: #ffffff;
}
.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.btn-dark {
  color: #212529;
  background: #efefef linear-gradient(180deg, #f1f1f1, #efefef) repeat-x;
  border-color: gainsboro;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-dark:hover {
  color: #212529;
  background: #d6d6d6 linear-gradient(180deg, gainsboro, #d6d6d6) repeat-x;
  border-color: #fcfcfc;
}
.btn-dark:focus, .btn-dark.focus {
  color: #212529;
  background: #d6d6d6 linear-gradient(180deg, gainsboro, #d6d6d6) repeat-x;
  border-color: #fcfcfc;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(220, 220, 220, 0.5);
}
.btn-dark.disabled, .btn-dark:disabled {
  color: #212529;
  background-color: #efefef;
  border-color: gainsboro;
}
.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle {
  color: #212529;
  background-color: white;
  background-image: none;
  border-color: #a3a3a3;
}
.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-dark.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(220, 220, 220, 0.5);
}
.btn-outline-dark {
  color: #efefef;
  background-color: transparent;
  background-image: none;
  border-color: #efefef;
}
.btn-outline-dark:hover {
  color: #222222;
  background-color: #fcfcfc;
  border-color: #efefef;
}
.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(239, 239, 239, 0.5);
}
.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #efefef;
  background-color: transparent;
}
.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-dark.dropdown-toggle {
  color: #212529;
  background-color: #fcfcfc;
  border-color: #efefef;
}
.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(239, 239, 239, 0.5);
}
.tiki.tiki-webmail a:not(.btn), .tiki.tiki-webmail a:not(.dropdown-item) .icon, .tiki.tiki-webmail .btn-link, .tiki.tiki-cypht a:not(.btn), .tiki.tiki-cypht a:not(.dropdown-item) .icon, .tiki.tiki-cypht .btn-link, .tiki.mobile.tiki-cypht a:not(.btn), .tiki.mobile.tiki-cypht a:not(.dropdown-item) .icon, .tiki.mobile.tiki-cypht .btn-link, .tiki .inline-cypht a:not(.btn), .tiki .inline-cypht a:not(.dropdown-item) .icon, .tiki .inline-cypht .btn-link {
  color: #638637 !important;
}
.tiki.tiki-webmail a:not(.btn):hover, .tiki.tiki-webmail a:not(.dropdown-item) .icon:hover, .tiki.tiki-webmail .btn-link:hover, .tiki.tiki-cypht a:not(.btn):hover, .tiki.tiki-cypht a:not(.dropdown-item) .icon:hover, .tiki.tiki-cypht .btn-link:hover, .tiki.mobile.tiki-cypht a:not(.btn):hover, .tiki.mobile.tiki-cypht a:not(.dropdown-item) .icon:hover, .tiki.mobile.tiki-cypht .btn-link:hover, .tiki .inline-cypht a:not(.btn):hover, .tiki .inline-cypht a:not(.dropdown-item) .icon:hover, .tiki .inline-cypht .btn-link:hover {
  color: #baba25 !important;
}
.tiki.tiki-webmail .card-body .nav-link, .tiki.tiki-webmail .card-body .nav-link small, .tiki.tiki-cypht .card-body .nav-link, .tiki.tiki-cypht .card-body .nav-link small, .tiki.mobile.tiki-cypht .card-body .nav-link, .tiki.mobile.tiki-cypht .card-body .nav-link small, .tiki .inline-cypht .card-body .nav-link, .tiki .inline-cypht .card-body .nav-link small {
  color: #638637 !important;
}
.tiki.tiki-webmail .dropdown-menu, .tiki.tiki-cypht .dropdown-menu, .tiki.mobile.tiki-cypht .dropdown-menu, .tiki .inline-cypht .dropdown-menu {
  background-color: #baba25 !important;
  border-color: rgba(0, 0, 0, 0.15) !important;
}
.tiki.tiki-webmail .dropdown-menu .dropdown-item, .tiki.tiki-webmail .dropdown-menu .dropdown-item .icon, .tiki.tiki-cypht .dropdown-menu .dropdown-item, .tiki.tiki-cypht .dropdown-menu .dropdown-item .icon, .tiki.mobile.tiki-cypht .dropdown-menu .dropdown-item, .tiki.mobile.tiki-cypht .dropdown-menu .dropdown-item .icon, .tiki .inline-cypht .dropdown-menu .dropdown-item, .tiki .inline-cypht .dropdown-menu .dropdown-item .icon {
  color: #ffffff !important;
}
.tiki.tiki-webmail .dropdown-menu .dropdown-item:hover, .tiki.tiki-webmail .dropdown-menu .dropdown-item:hover .icon, .tiki.tiki-webmail .dropdown-menu .dropdown-item:focus, .tiki.tiki-webmail .dropdown-menu .dropdown-item:focus .icon, .tiki.tiki-cypht .dropdown-menu .dropdown-item:hover, .tiki.tiki-cypht .dropdown-menu .dropdown-item:hover .icon, .tiki.tiki-cypht .dropdown-menu .dropdown-item:focus, .tiki.tiki-cypht .dropdown-menu .dropdown-item:focus .icon, .tiki.mobile.tiki-cypht .dropdown-menu .dropdown-item:hover, .tiki.mobile.tiki-cypht .dropdown-menu .dropdown-item:hover .icon, .tiki.mobile.tiki-cypht .dropdown-menu .dropdown-item:focus, .tiki.mobile.tiki-cypht .dropdown-menu .dropdown-item:focus .icon, .tiki .inline-cypht .dropdown-menu .dropdown-item:hover, .tiki .inline-cypht .dropdown-menu .dropdown-item:hover .icon, .tiki .inline-cypht .dropdown-menu .dropdown-item:focus, .tiki .inline-cypht .dropdown-menu .dropdown-item:focus .icon {
  color: #f2f2f2 !important;
}
.tiki.tiki-webmail .form-control, .tiki.tiki-cypht .form-control, .tiki.mobile.tiki-cypht .form-control, .tiki .inline-cypht .form-control {
  background-color: #f8f9d4 !important;
  border-color: #f8f9d4 !important;
  color: #343a40 !important;
}
.tiki.tiki-webmail .nav-tabs .nav-link, .tiki.tiki-webmail .nav-tabs .nav-link .icon, .tiki.tiki-webmail .nav-tabs .nav-link .icon:hover, .tiki.tiki-cypht .nav-tabs .nav-link, .tiki.tiki-cypht .nav-tabs .nav-link .icon, .tiki.tiki-cypht .nav-tabs .nav-link .icon:hover, .tiki.mobile.tiki-cypht .nav-tabs .nav-link, .tiki.mobile.tiki-cypht .nav-tabs .nav-link .icon, .tiki.mobile.tiki-cypht .nav-tabs .nav-link .icon:hover, .tiki .inline-cypht .nav-tabs .nav-link, .tiki .inline-cypht .nav-tabs .nav-link .icon, .tiki .inline-cypht .nav-tabs .nav-link .icon:hover {
  color: #000 !important;
}
.tiki.tiki-webmail .nav-tabs .nav-link.active, .tiki.tiki-webmail .nav-tabs .nav-link.active .icon, .tiki.tiki-webmail .nav-tabs .nav-item.show .nav-link, .tiki.tiki-webmail .nav-tabs .nav-item.show .nav-link .icon, .tiki.tiki-cypht .nav-tabs .nav-link.active, .tiki.tiki-cypht .nav-tabs .nav-link.active .icon, .tiki.tiki-cypht .nav-tabs .nav-item.show .nav-link, .tiki.tiki-cypht .nav-tabs .nav-item.show .nav-link .icon, .tiki.mobile.tiki-cypht .nav-tabs .nav-link.active, .tiki.mobile.tiki-cypht .nav-tabs .nav-link.active .icon, .tiki.mobile.tiki-cypht .nav-tabs .nav-item.show .nav-link, .tiki.mobile.tiki-cypht .nav-tabs .nav-item.show .nav-link .icon, .tiki .inline-cypht .nav-tabs .nav-link.active, .tiki .inline-cypht .nav-tabs .nav-link.active .icon, .tiki .inline-cypht .nav-tabs .nav-item.show .nav-link, .tiki .inline-cypht .nav-tabs .nav-item.show .nav-link .icon {
  color: #fff !important;
}
.tiki.tiki-webmail .btn-primary, .tiki.tiki-cypht .btn-primary, .tiki.mobile.tiki-cypht .btn-primary, .tiki .inline-cypht .btn-primary {
  border-color: #c8bb11 !important;
}
.tiki.tiki-webmail .btn-info, .tiki.tiki-cypht .btn-info, .tiki.mobile.tiki-cypht .btn-info, .tiki .inline-cypht .btn-info {
  border-color: #7b8329 !important;
}
